<% content_for :title do %>
    <%= t('Call Records') %>
<% end %>
<% content_for :page_header do %>
    <%= t('Call Records') %>
<% end %>

<div class="fix-height">
  <iframe src="http://gidroizadmin:fR8DA8uVlawhLrEN@asterisk.gidroiz.ru/" frameborder="0" seamless width="100%" height="1000"></iframe>
</div>
