<div class="nested-fields">

  <div class="clearfix">
    <%= link_to_remove_association t('Remove'), f %>
  </div>

  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :position %>

  <hr/>
</div>